@import 'variables';

.root {
  padding: 90px 0 40px;

  .info-container > * {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .title {
    font-size: 0.8125rem;
    text-transform: uppercase;
  }

  .subtitle, .description {
    font-size: 0.75rem;
    line-height: 1.375rem;
  }
}

@media (min-width: $screen-md) {
  .root {
    padding: 30px 0;

    .info-container > * {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    .title {
      font-size: 0.875rem;
    }

    .subtitle, .description {
      font-size: 1.125rem;
      line-height: 2rem;
    }
  }
}

@media (min-width: $screen-lg) {
  .root {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0px;
    width: 25%;
    height: 100vh;
    padding: 0;

    .info-container {
      max-width: 340px;
    }
  }
}
