@import 'variables';

.root {
  background-color: $primary-lightgrey;

  .image-wrapper img {
    width: 100%;
    cursor: pointer;
  }
}

@media (min-width: $screen-md) {
  .product-detail-wrapper {
    display: flex;

    .product-images-container {
      width: 50vw;
    }
  }
}

@media (min-width: $screen-lg) {
  .product-detail-wrapper {
    justify-content: space-around;

    .product-images-container {
      .image-wrapper {
        display: flex;

        img {
          width: auto;
          height: 100vh;
          margin: 0 auto;
        } 
      }
    }
  }
}