@import 'variables';

.root {
  background-color: $primary-lightgrey;

  .image-wrapper img {
    width: 100%;
    cursor: pointer;
  }
}

@media (min-width: $screen-md) {
  .product-detail-wrapper {
    display: flex;

    .product-images-container {
      max-width: 65%;
    }

    .product-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: sticky;
      position: -webkit-sticky; /* Safari */
      top: 0px;
      width: auto;
      height: 100vh;
      max-width: 35%;
      padding: 0;
    }
  }
}

@media (min-width: $screen-lg) {
  .product-detail-wrapper {
    justify-content: space-around;

    .product-images-container {
      max-width: 60%;
    }
  }
}