@import 'variables';

.root {
  padding: 65px 65px 30px;
  
  .info-container {
    margin-bottom: 60px;

    .title {
      font-size: 1rem;
      text-transform: uppercase;
    }
    
    .droplets, .description {
      font-size: 1rem;
    }
  }

  .options-container {
    text-transform: lowercase;
    
    .price {
      font-size: 1rem;
    }

    .size-dropdown {
      margin-top: 20px;
    }

    .size-chart {
      font-size: 0.6875rem;
      text-decoration: underline;
      margin-top: 5px;
    }

    .add-to-cart {
      display: block;
      width: 100%;
      background-color: $primary-black;
      color: $type-white;
      font-size: 0.8125rem;
      padding: 7px;
      margin-top: 20px;
      font-weight: bold;
    }

    .savings {
      margin-top: 25px;
      font-size: 0.75rem;
      text-decoration: underline;
      width: 100%;
      text-align: center;
    }
  }
}