@import 'variables';

.root {
  padding: 30px 0;

  .options-container {
    text-transform: lowercase;
    
    .price {
      font-size: 1rem;
    }

    .size-dropdown {
      margin-top: 20px;
    }

    .size-chart {
      margin-top: 5px;
      font-size: 0.6875rem;
      text-decoration: underline;
    }

    .add-to-cart {
      display: block;
      width: 100%;
      padding: 7px;
      margin-top: 20px;
      background-color: $primary-black;
      color: $type-white;
      font-size: 0.8125rem;
      font-weight: bold;
    }

    .savings {
      font-size: 0.75rem;
      text-decoration: underline;
      text-align: center;
      width: 100%;
      margin-top: 25px;
    }
  }
}

@media (min-width: $screen-md) {
  .root {
    padding: 30px 0;
    width: 100%;
  }
}

@media (min-width: $screen-lg) {
  .root {
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0px;
    width: 25%;
    height: 100vh;
    padding: 0;

    .options-container {
      width: 100%;
    }
  }
}

@media (min-width: $screen-xlg) {
  .root {
    flex-direction: row;
    
    .options-container {
      width: 100%;
      max-width: 310px;
    }
  }
}