@import 'variables';

.root {
  padding: 70px 0 30px;
  
  .info-container {
    margin-bottom: 0px;

    .title {
      font-size: 1rem;
      text-transform: uppercase;
    }
    
    .droplets, .description {
      font-size: 1rem;
    }
  }
}

@media (min-width: $screen-md) {
  .root {
    width: 100%;
    padding: 30px 0;

    .info-container {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $screen-lg) {
  .root {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0px;
    width: 25%;
    height: 100vh;
    padding: 0;
  }
}

@media (min-width: $screen-xlg) {
  .info-container {
    width: 100%;
    max-width: 310px;
  }
}