.root {
  border: 1px solid black;
  display: flex;
  margin-top: 20px;
  
  & > * {
    letter-spacing: 1px;
    flex: 1;
    padding: 3px 15px;
    font-size: 1rem;
  }

  .color-button {
    display: flex;
    align-items: center;
  }
  
  .check-mark {
    margin-left: 5px;
    display: flex;

    svg {
      width: 15px;
    }
  }
}