@import 'variables';

.item {
  width: 100%;
  height: 34px;
  padding: 0px 14px;
  text-align: left;

  &:hover {
    background-color: $primary-beige;
  }
}

.selected {
  background-color: $primary-beige;
}

@media (min-width: $screen-md) {
  .item {
    font-size: 1rem;
  }
}