@import 'variables';

.root {
  position: absolute;
  left: -1px;
  width: 100%;
  background-color: $primary-lightgrey;
  border: 1px solid black;

  &.open-upward{
    top: unset;
    bottom: -1px;
  }

  &.open-downward{
    top: -1px;
    bottom: unset;
  }
}