@import 'variables';

.root {
  display: flex;
  height: 30px;
  border: 1px solid black;
  margin-top: 20px;

  .decrease-button {
    border-right: 1px solid black;
  }

  .increase-button {
    border-left: 1px solid black;
  }

  .decrease-button, .increase-button {
    width: 40px;
    font-size: 1.25rem;
  }

  .quantity-text-wrapper {
    flex: 1;
    padding: 3px 10px;
    text-align: center;

    .quantity-text {
      font-size: 0.875rem;
      padding-left: 30px;
    }

    .quantity-number {
      width: 40px;
      background-color: transparent;
      font-size: 0.875rem;
      border: none;
    }
  }
}

@media (min-width: $screen-md) {
  .root .quantity-text-wrapper .quantity-text,
  .root .quantity-text-wrapper .quantity-number {
      font-size: 1rem;
  }
}