.root {
  border: 1px solid black;
  display: flex;
  margin-top: 20px;

  .decrease-button {
    border-right: 1px solid black;
  }
  
  .increase-button {
    border-left: 1px solid black;
  }

  .decrease-button, .increase-button {
    width: 40px;
    font-size: 1.25rem;
  }
  
  .quantity-text {
    letter-spacing: 1px;
    flex: 1;
    padding: 3px 15px;
    font-size: 1rem;
    text-align:center
  }

  .number {
    position: relative;
    left: 5px;
    width: 28px;
    background-color: transparent;
    text-align: right;
    padding: 0;
    font-size: 1rem;
    pointer-events: none;
    vertical-align: middle; 
    border: none;
  }
}