@import 'variables';

.root {
  margin: 50px 0;

  .best-seller-card {
    margin-bottom: 45px;

    &:last-of-type {
      margin-bottom: 0px;
    }

    h2 {
      text-decoration: underline;
      font-size: 1rem;
      letter-spacing: 2px;
      font-weight: normal;
      padding: 10px 0 0;
    }

    p {
      font-size: 0.6875rem;
    }
  }
}

@media (min-width: $screen-md) {
  .root {
    max-width: 960px;
    margin: 50px auto;

    .products-wrapper {
      display: flex;
      flex-wrap: wrap;

      .best-seller-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0 auto 60px;

        &:nth-of-type(3n+2) {
          align-items: flex-end;
        }

        img {
          max-height: 500px;
          max-width: 100%;
        }

        &:nth-child(3n+3) {
          width: 100%;

          img {
            max-width: 500px;
          }
        }

        h2 {
          padding: 20px 0 0;
        }
      }
    }
  }
}