@import 'variables';

@font-face {
  font-family: 'Graphik-Medium';
  src: url('./fonts/Graphik-Medium.eot');
  src: url('./fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Graphik-Medium.svg#Graphik-Medium') format('svg'),
       url('./fonts/Graphik-Medium.woff') format('woff'),
       url('./fonts/Graphik-Medium.woff2') format('woff2'),
       url('./fonts/Graphik-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  line-height: 1.5rem;
  color: $type-black;

  * {
    font-family: 'Graphik-Medium', Arial, Helvetica, sans-serif;
  }

  h1, h2, h3 {
    letter-spacing: 6px;
  }

  p {
    letter-spacing: 1.5px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: unset;
    letter-spacing: 1px;
    display: inline-block;
  }

  button {
    cursor: pointer;
    background: none;
    border: none;
    letter-spacing: 1px;
    font-size: 1rem;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  .accessible {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
}

section, .slick-slider:focus {
  outline: none;

  & *:focus{
    outline: none;
  }
}

ul.slick-dots li button:before {
  opacity: 0.5;
}