/*
* Theme colors
* ==================================== */
$primary-beige: #e1c699;
$primary-black: #000;
$primary-white: #fff;

/*
* Font Colors
* ==================================== */
$type-white: #fff;
$type-black: #000;

/*
* Components Colors
* ==================================== */
$product-detail-hero-background: rgba(0, 0, 0, 20);
$selected-item: #000;
$unselected-item: #555;
