/*
* Theme colors
* ==================================== */
$primary-beige: #f2d9a5;
$primary-black: #000;
$primary-white: #fff;
$primary-lightgrey: #f8f8f8;

/*
* Font Colors
* ==================================== */
$type-white: #fff;
$type-black: #000;
